@font-face {
  font-family: 'Muller';
  src: local('Muller Medium'), local('MullerMedium'), url('../font/MullerMedium.woff2') format('woff2'), url('../font/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Regular'), local('MullerRegular'), url('../font/MullerRegular.woff2') format('woff2'), url('../font/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Bold'), local('MullerBold'), url('../font/MullerBold.woff2') format('woff2'), url('../font/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
