.products-card {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: rgba(231, 239, 255, 1);
    height: 100%;
}

.products--four .products-card {
    padding: 32px 20px 20px 20px;
    min-height: 400px;
}

.products-card__blok {
    display: flex;
    justify-content: space-between;
}

.products--four .products-card__blok {
    flex-direction: column;
}

.products--four .products-card {
    text-align: center;
}

.products-card__img {
    width: 250px;
    height: 180px;
    margin: 0 auto;
}

.products--four .products-card__img {
    width: 210px;
    height: 135px;
    margin-top: auto;
}

.products-card__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.products--four .products-card__text {
    justify-content: space-between;
}

.products--four .products-card__text {
    flex-grow: 1;
}

.products-card__label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(30, 34, 46, 0.5);
    border-radius: 4px;
    color: rgba(30, 34, 46, 0.5);
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin: 0 0 12px 0;
    width: 66px;
    height: 24px;
}

.products--four .products-card__label {
    margin: 0 auto 8px;
}

.products-card__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.products--four .products-card__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}

.products-card__advantages {
    font-size: 15px;
    line-height: 22px;
}

.products--four .products-card__advantages {
    font-size: 12px;
    line-height: 20px;
}

.products-card__link {
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    background-color: #476BF0;
    border-radius: 8px;
    text-align: center;
    width: 140px;
    height: 40px;
}

.products--four .products-card__link {
    margin: 0 auto;
}

.products-card--backraund-debit {
    background: rgba(71, 107, 240, 1);
}

.products-card--backraund-mortgage {
    background: rgba(207, 246, 231, 1);
}

.products-card--backraund-privileges {
    background: rgba(196, 231, 255, 1);
}

.products-card__title--color,
.products-card__advantages--color {
    color: rgba(255, 255, 255, 1);
}

.products-card__link--color {
    color: rgba(71, 107, 240, 1);
    background: rgba(255, 255, 255, 1);
}