.advantages__additionally-list {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 60px;
    margin: 0 0 100px;
    align-items: start;
    padding: 0;
}

.advantages__additionally-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additionally-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #476BF0;
    border-radius: 12px;
    margin-bottom: 20px;
}

.advantages__text-up {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 12px;
}

.advantages__text-down {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}