.header {
    padding: 16px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__logo-link {
    display: flex;
    margin: 0 auto 0 0;
}

.header__btn {
    align-self: center;
}

.header__btn-container {
    display: flex;
    align-self: center;
    padding: 4px;
    border: 1px solid #DBDFEC;
    border-radius: 12px;
    margin-right: 24px;
}

.header__btn-ln {
    display: flex;
    align-items: center;
    padding: 18px 22px;
    background-color: #FFFFFF;
    border: 1px solid #DBDFEC;
    border-radius: 12px;
}

.btn-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1E222E;
    margin-right: 12px;
}