.hero {
    background-color: #F4F6FA;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    column-gap: 150px;
    margin-bottom: 100px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__heading {
    margin: 0 0 24px 0;
    font-size: 40px;
    line-height: 50px;
}

.hero__heading--parters {
    margin-bottom: 48px;
}

.hero__heading-highlight {
    color: #476BF0;
}

.hero__description {
    margin: 0 0 46px 0;
    font-size: 18px;
    line-height: 24px;
}