.card {
    width: 350px;
    background: #fff;
    padding-bottom: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 10px;
    height: 200px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 20px;
    color: rgb(199, 176, 171);
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.input {
    width: 100%;
    border-color: rgb(246, 234, 232);
    border-radius: 4px;
    height: 40px;
    background-color: rgb(246, 234, 232);
    padding-left: 30px;
    margin: 30px 70px;
}

.input::placeholder {
    color: rgb(187, 143, 137);
}

.div_input {
    width: 100%;
    display: flex;
}