.btn3 {
    margin-left: 150px;
    margin-top: 150px;
    position: fixed;
    z-index: 10;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-image: url(../3/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    visibility: hidden;
}

.btn3-actve {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.div3 {
    margin-top: 30px;
    padding: 100px 0px;
    border-top: 3px solid black;
}
