* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", "Arial", sans-serif;
    background-color: #6f6464;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 1280px;
    padding: 0;
    color: #1E222E;
}

main {
    flex-grow: 1;
    background: rgba(255, 255, 255, 1);
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}