/* Global */


/* ------------------------------------ */

@import './global/reboot.css';
@import './global/fonts.css';
@import './global/visually-hidden.css';
@import './global/container.css';

/* Blocks */

@import './blocks/header.css';
@import './blocks/articles.css';
@import './blocks/btn.css';
@import './blocks/nav-articles.css';
@import './blocks/social.css';

/* ------------------------------------ */