.form {
    width: 450px;
    background-color: white;
    border-radius: 20px;
}

.form__inner {
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1E222E;
}

.form__wrapper-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-bottom: 24px;
}

.form__input--all {
    grid-column: span 2;
}

.form__input {
    position: relative;
}

.form__input-field {
    width: 100%;
    border: 1px solid #CDCFDE;
    height: 44px;
    border-radius: 8px;
    padding: 14px 16px;
    outline: none;
}

.form__input-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-50%);
    background-color: white;
    padding: 4px;
}

.form__input-field::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.form__input-field:hover::placeholder,
.form__input-field:focus::placeholder {
    color: #3356D7;
}

.form__wrapper-captcha {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form__captcha-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    display: block;
}

.form__captcha-field {
    width: 100%;
    border: 1px solid #CDCFDE;
    border-radius: 8px;
    height: 44px;
    outline: none;
}

.form__code-captcha {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.form__captcha-img {
    width: 100%;
    height: 44px;
    border: 1px solid #CDCFDE;
    border-radius: 8px;
    padding-left: 32px;
}

.form__checkbox-lebel {
    display: block;
    padding: 0 32px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.form__checkbox-lebel::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0px;
    border: 1px solid #CDCFDE;
    border-radius: 4px;
    cursor: pointer;
}

.form__checkbox-link {
    text-decoration: underline;
    color: #476BF0;
}

.form__checkbox-field:checked+.form__checkbox-lebel::before {
    background-color: #476BF0;
}

.form__checkbox-field:checked+.form__checkbox-lebel .form__checkbox-icon {
    display: block;
}

.form__checkbox-lebel:hover::before {
    border-color: #3356D7;
}

.form__checkbox-lebel:focus::before {
    border-color: #A0B4FF;
}

.form__checkbox-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    display: none;
    color: white;
}

.form__input-error {
    display: none;
    color: red;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
}

.form__input--error .form__input-error {
    display: block;
}

.form__input--error .form__input-field {
    border: 1px solid #F9C4C2;
    background-color: #FFFBFB;
}

.form__input--error .login__entry-link-icon {
    color: #F9C4C2;
}

.form__input-field:hover,
.form__input-field:focus {
    border: 1px solid #3356D7;
}

.form__input-field:focus~.login__entry-link-icon {
    color: #3356D7;
}

.form__input-field:hover~.login__entry-link-icon {
    color: #3356D7;
}

.login__link-registration:hover {
    color: #3356D7;
}

.login__forget:hover {
    color: #3356D7;
}

.form__captcha-icon {
    cursor: pointer;
}

.form__captcha-field:hover,
.form__captcha-field:focus {
    border-color: #3356D7;
    color: #3356D7;
}

.form__checkbox {
    grid-column: span 2;
}