.header__wraper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
    align-items: center;
    margin-bottom: 82px;
}

.header__wraper--registration {
    margin-bottom: 16px;
}

.header__wraper--forgot {
    margin-bottom: 158px;
}

.header__reight {
    display: flex;
    gap: 12px;
    margin-right: 8px;
}

.header__best {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
}

.header__marksweb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 13px 8px;
}

.header__best-top {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.header__best-bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}