li {
    list-style-type: none;
}

.btn {
    height: 37px;
    z-index: 1;
    width: 136px;
    position: relative;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid #C8C5D1;
    background-color: #E7E5EB;
    color: #333333;
    transition: background-color 0.3s ease-in-out;
}

.ul {
    padding: 0;
    position: absolute;
    font-size: 12px;
    z-index: 2;
    width: 134px;
    top: 30px;
    left: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    background-color: #F4F3F6;
    border: 1px solid #C8C5D1;
}

.ul.contact__list-actve {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.li {
    cursor: pointer;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid #C8C5D1;
}

.li:hover {
    background-color: #E7E5EB;
}
