* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

html {
    text-align: justify;
}

.container {
    width: 500px;
}

.main {
    width: 500px;
    height: 500px;
    outline: 2px solid black;
    display: flex;
}

.app_title {
    margin-left: 15px;
}

.cards_list {
    margin: auto;
    width: 90%;
    height: 90%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    list-style: none;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #999;
    display: flex;
}

.btn {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 40px;
}
