.header {
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
    padding: 20px;
    display: flex;
    align-items: center;
}

.header__img {
    margin-right: 53px;
}

.header__input {
    height: 44px;
    width: 581px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding-left: 16px;
}

.header__input::placeholder {
    font-size: 14px;
    color: #B0B0B0;
}
