body {
    font-family: 'Open Sans', 'sans-serif';
    background: #FFFFFF;
}

.container {
    max-width: 1024px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
ul,
ol {
    margin: 0px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tooltip {
    position: absolute;
    top: -41px;
    left: 50%;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transform: translateX(-50%);
    opacity: 1;
    visibility: hidden;
    padding: 7px 15px;
    background-color: rgb(0, 0, 0, 0.8);
    color: #FFFFFF;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    clip-path: polygon(100% 0, 0 0, 51% 100%);
    background-color: rgb(0, 0, 0, 0.8);
    height: 10px;
    width: 10px;
}

table {
    border-collapse: collapse;
}

.btn-violet {
    width: 147px;
    height: 44px;
    background-color: #9873FF;
    color: #FFFFFF;
    border: none;
    margin-bottom: 4px;
    cursor: pointer;
}

.btn-cancel {
    color: #333333;
    border: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid #333333;
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'Open Sans';
    font-size: none;
    line-height: 1.15;
    margin: 0;
}
