.block {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 32px;
}

.block__item {
    width: calc((100%/4) - 24px);
}