    .block-card {
        min-height: 480px;
        background: url('/images/pensioners.jpg');
        border-radius: 12px;
        padding: 20px 20px 32px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .block-card--credit-rating {
        background: url('/images/credit_rating.jpg');
    }
    
    .block-card--gold {
        background: url('/images/gold.jpg');
    }
    
    .block-card--deduction {
        background: url('/images/deduction.jpg');
    }
    
    .block-card--SPB {
        background: url('/images/SPB.jpg');
    }
    
    .block-card--dismissal {
        background: url('/images/dismissal.jpg');
    }
    
    .block-card--balance {
        background: url('/images/balance.jpg');
    }
    
    .block-card--credit-load {
        background: url('/images/credit_load.jpg');
    }
    
    .block-card__text {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .block-card__text-img {
        border-radius: 50px;
    }
    
    .block-card__text-span {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    .block-card__h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    .block-card__link {
        display: inline-block;
        width: 100%;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        background: rgba(71, 107, 240, 1);
        padding: 14px;
        border-radius: 8px;
    }