/*we*/

.we {
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-p-we {
  margin: 0px;
  margin-top: 10px;
  width: 888px;
  height: 180px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
}
