.tooltip__contact {
    display: flex;
    align-items: center;
    position: absolute;
    top: -41px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    visibility: hidden;
    padding: 7px 15px;
    background-color: rgb(0, 0, 0, 0.8);
    color: #FFFFFF;
}

.tooltip__contact::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    clip-path: polygon(100% 0, 0 0, 51% 100%);
    background-color: rgb(0, 0, 0, 0.8);
    height: 10px;
    width: 10px;
}

.tooltip__contact-type {
    margin-right: 2px;
    display: block;
    color: #FFFFFF;
}

.tooltip__contact-value {
    margin-right: 2px;
    display: block;
    color: #B89EFF;
}

.tablet__type:hover .tooltip__contact {
    opacity: 1;
    visibility: visible;
}

.tablet__type {
    position: relative;
}
