@font-face {
    font-family: 'Montserrat';
    src: local('montserrat Medium'), local('montserratMedium'), url('../font/montserrat.woff2') format('woff2'), url('../font/montserrat.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat Regular'), local('montserratRegular'), url('../font/Montserrat-Regular.woff2') format('woff2'), url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-ExtraBold'), local('Montserrat-ExtraBold'), url('../font/Montserrat-ExtraBold.woff2') format('woff2'), url('../font/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
