.we {
    margin-bottom: 100px;
}

.we__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
    margin-bottom: 20px;
}

.we__p {
    max-width: 1235px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 50px;
}

.we__decisions {
    display: flex;
    justify-content: space-between;
    height: 622px;
}

.indicator {
    width: 868px;
    height: 622px;
    background-image: url(../img/Rectangle.jpg);
    padding-top: 426px;
    margin-right: 30px;
    background-size: cover;
}

.indicator__black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.indicator__p {
    max-width: 454px;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.indicator__btn {
    border: 3px solid #FF9900;
    padding: 18px 38px;
    color: #FFFFFF;
    width: 175px;
    height: 60px;
    transition: background 200ms ease;
}

.indicator__btn:hover {
    background: #FF9900;
}

.indicator__btn:focus {
    outline: none;
    background: #FF9900;
}

.indicator__btn:active {
    border: none;
    background: #E1670E;
}

.indicator__right {
    width: 870px;
}

.asset {
    width: 870px;
    padding-top: 64px;
    padding-left: 60px;
    padding-bottom: 65px;
    border: 1px solid #CACACA;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    height: 295px;
}

.asset:not(:last-child) {
    margin-bottom: 32px;
}

.pictureg {
    width: 190px;
    height: 165px;
    margin-right: 50px;
}

.asset__right {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 240px;
}

.asset__right-1 {
    background-image: url(../img/FrameBox.svg);
}

.asset__right-2 {
    background-image: url(../img/FrameGear.svg);
}

.asset__h3 {
    width: 470px;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 8px;
}

.asset__p {
    width: 450px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    letter-spacing: 1px;
}
