.advantages {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
}

.advantages__box {
    margin-bottom: 30px;
    background-image: url(../img/cylinders.svg);
    background-repeat: no-repeat;
    padding-left: 200px;
    background-position-x: 10px;
    background-position-y: 30px;
}

.advantages__box-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #2E2B44;
    margin-bottom: 30px;
    max-width: 380px;
}

.advantages__box-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    width: 585px;
}

.advantages__list {
    display: flex;
}

.advantages__item {
    padding: 16px 0px 16px 110px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: center left;
}

.advantages__item:last-child {
    margin-right: 0px;
}

.advantages__item-1 {
    background-image: url(../img/1.svg);
}

.advantages__item-2 {
    background-image: url(../img/2.svg);
}

.advantages__item-3 {
    background-image: url(../img/3.svg);
}

.advantages__item-p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    align-items: center;
    color: #666666;
}
