.choose-course {
    background-image: url(../img/backgroundchooseСourse.jpg);
    background-size: cover;
}

.choose-course__container {
    position: relative;
    z-index: 0;
    padding: 130px 0px;
}

.choose-course__container::after {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-right: 0px;
    background-image: url(../img/ShapesChooseСourse.svg);
    background-repeat: no-repeat;
    background-position: right center;
    z-index: -1;
}

.choose-course-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose-course__h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.choose-course__p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.choose-course__btn {
    display: block;
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: center;
    width: 270px;
}
