body {
    font-family: 'Roboto', 'sans-serif';
    background: #FFFFFF;
    font-size: 16px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
ul,
ol {
    margin: 0px;
}

.btn {
    background-color: blue;
    border-radius: 20px;
    color: #FFFFFF;
}