.teachers {
    padding: 80px 0px;
    background-color: #212133;
    display: flex;
    flex-direction: column;
}

.teachers__h2 {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    align-items: center;
    color: #FFFFFF;
    display: block;
}

.teachers__list {
    display: flex;
    margin-left: 165px;
    margin-bottom: 80px;
}

.teachers__item {
    width: 250px;
    margin-right: 30px;
}

.teachers__imeg {
    border-radius: 25px 25px 0px 0px;
    margin-bottom: 30px;
}

.teachers__h3 {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.teachers__span {
    height: 113px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #85859B;
}
