.input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 50px;
}

.form-search {
    display: flex;
    flex-direction: column;
    width: 300px;
}
