.offers {
    margin-bottom: 100px;
}

.offers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 280px 1fr;
    grid-template-rows: 280px 280px;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.offers-list__item {
    background: #F4F6FA;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: space-between;
}

.offers-card--row {
    grid-row: span 2;
    background: #5E81FF;
}

.offers-card--colum {
    grid-column: span 2;
}

.offers-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    padding: 0;
    margin: 0 0 40px;
}

.special-card__arrow {
    width: 40px;
    height: 40px;
    margin: 30px;
}

.special-card__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 30px 0 30px;
}

.special-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
}

.special-card__heading {
    margin-bottom: 8px;
}

.special-card__heading--offers {
    color: white;
}

.special-card__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
}

.special-card__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding: 0 0 0 15px;
    margin: 0;
    list-style-type: disc;
}

.special-card__item {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    color: white;
}

.special-card__heading--row {
    color: white;
}

.special-card__text--row {
    color: white;
    margin-bottom: 12px;
}

.btn-row {
    background: #FF8516;
}