.special-card {
    background: #F4F6FA;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: space-between;
}

.special-card__heading {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}