.ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

li {
    flex: 20%;
    max-width: 350px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    margin: 25px;
}

.img {
    width: 250px;
    height: 300px;
    border-radius: 20px;
}

.div_itemCard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div_price {
    display: flex;
}

.p1 {
    margin-right: 3px;
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.p2 {
    text-decoration: line-through;
}

.p3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.p1:after {
    content: ' \20BD';
}

.p2:after {
    content: ' \20BD';
}

.p3:after {
    content: ' \20BD';
}

.p_title {
    font-weight: bold;
    font-size: 20px;
}